﻿@model IEnumerable<WebCW.Models.Topic>
@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <p>
                <a href=@Url.Action("TopicContent", "Home", new { id=item.Id })>
                    <img src="@Html.DisplayFor(modelItem => item.imgPath)" class="img-circle text-center" width="140" height="140">
                </a>
                <h4>@Html.DisplayFor(modelItem => item.Theme)</h4>
            </p>
            


        </div>
    }
</div>       