﻿@model IEnumerable<WebCW.Models.Teacher>

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<div class="row">
@foreach (var item in Model)
{
    
    <div class="col-md-12 table-bordered" >
        <div class="col-md-2"></div>
        <div class="col-md-4 text-center">
            <img src="@Html.DisplayFor(modelItem => item.imgPath)" height="300" />
        </div>
        <div class="col-md-4" >
            @Html.DisplayFor(modelItem => item.LastName)
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.FathersName)
            <br />
            <p>Стаж: @Html.DisplayFor(modelItem => item.Exp) </p>
            <p>Специализация: @Html.DisplayFor(modelItem => item.Subjects)</p>
            <p>Email: @Html.DisplayFor(modelItem => item.MobilePhone)</p>
            <p>Мобильный телефон: @Html.DisplayFor(modelItem => item.Email)</p>
            @Html.DisplayFor(modelItem => item.Information)
        </div>
        <div class="col-md-2"></div>
        
    </div>
    <br />
    <br /><br />
    <br />
}
</div>

