﻿@model WebCW.Models.Timetable

@{
    ViewBag.Title = "Edit";
}
<script>
    var day;
    var lesson;
    function fillCell(day, lesson){
        $.post("../../Timetables/getLessonInfo", { day: day, lesson: lesson }, function (data) {
            if (data != "no") {
                $("[day = '" + day + "' ][lesson = '" + lesson + "']").html = "qqq";
                $("[day = " + day + " ][lesson = " + lesson + "]").html(
                    "<span> " + data.name + "</span><br>" +
                    "<span> " + data.teacher + "</span>");
            }
        });
    }
    $(document).ready(function () {
        $.post("../../Timetables/getLessons", function (data) {
            for (var i = 0; i < data.length; i++) {
                $("[day = '" +  + "' ][lesson = '" +  + "']").html = "qqq";
                $("[day = " + data[i].day + " ][lesson = " + data[i].number + "]").html(
                    "<span> " + data[i].name + "</span><br>" +
                    "<span> " + data[i].TeachersName + "</span>");
            }
        });

        $("[name = lesson]").mouseover(function () {
            this.style.background = "#FEBDA0";
        });
        $("[name = lesson]").mouseout(function () {
            this.style.background = "#FFF";
        });

        $("[name = lesson]").click(function () {
            $("#myModal").modal('show');
            day = this.getAttribute("day");
            lesson = this.getAttribute("lesson");
            if ($(this).html != "") {
                $("#subject").val($('span:first', this).html());
            };
        });
        
        $("#saveChanges").click(function () {
            var subject = $("#subject").val();
            var teacherId = $("#TeacherId").val();
            $.post("../../Timetables/AddOrUpdateLesson", { day: day, lesson: lesson, subject: subject, teacherId: teacherId },
                    function (data) {
                        fillCell(day, lesson);
                    });
            $("#myModal").modal('hide');
        });
    })
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3 class="text-center"> Расписание для @Html.DisplayFor(model => model.Class.number) - @Html.DisplayFor(model => model.Class.letter) класса на 
        @Html.DisplayFor(model => model.Period.name) </h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
 
    </div>
    <table class="table table-bordered text-center" id="timetable" style="table-layout: fixed;" >
        <thead>
            <tr>
                <th class="text-center" style="width: 14%">Время </th>
                <th class="text-center" style="width: 14%">Понедельник </th>
                <th class="text-center" style="width: 14%">Вторник </th>
                <th class="text-center" style="width: 14%">Среда</th>
                <th class="text-center" style="width: 14%">Четверг</th>
                <th class="text-center" style="width: 14%">Пятница</th>
                <th class="text-center" style="width: 14%">Суббота</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center">08.00 - 08.45 </th>
                <th class="text-center" name="lesson" day="1" lesson="1"></th>
                <th class="text-center" name="lesson" day="2" lesson="1"></th>
                <th class="text-center" name="lesson" day="3" lesson="1"></th>
                <th class="text-center" name="lesson" day="4" lesson="1"></th>
                <th class="text-center" name="lesson" day="5" lesson="1"></th>
                <th class="text-center" name="lesson" day="6" lesson="1"></th>

            </tr>
            <tr>
                <th class="text-center">09.25 - 10.10 </th>
                <th class="text-center" name="lesson" day="1" lesson="2"></th>
                <th class="text-center" name="lesson" day="2" lesson="2"></th>
                <th class="text-center" name="lesson" day="3" lesson="2"></th>
                <th class="text-center" name="lesson" day="4" lesson="2"></th>
                <th class="text-center" name="lesson" day="5" lesson="2"></th>
                <th class="text-center" name="lesson" day="6" lesson="2"></th>

            </tr>
            <tr>
                <th class="text-center">10.20 - 11.05 </th>
                <th class="text-center" name="lesson" day="1" lesson="3"></th>
                <th class="text-center" name="lesson" day="2" lesson="3"></th>
                <th class="text-center" name="lesson" day="3" lesson="3"></th>
                <th class="text-center" name="lesson" day="4" lesson="3"></th>
                <th class="text-center" name="lesson" day="5" lesson="3"></th>
                <th class="text-center" name="lesson" day="6" lesson="3"></th>

            </tr>
            <tr>
                <th class="text-center"> 11.20 - 12.05 </th>
                <th class="text-center" name="lesson" day="1" lesson="4"></th>
                <th class="text-center" name="lesson" day="2" lesson="4"></th>
                <th class="text-center" name="lesson" day="3" lesson="4"></th>
                <th class="text-center" name="lesson" day="4" lesson="4"></th>
                <th class="text-center" name="lesson" day="5" lesson="4"></th>
                <th class="text-center" name="lesson" day="6" lesson="4"></th>

            </tr>
            <tr>
                <th class="text-center"> 12.20 - 13.05 </th>
                <th class="text-center" name="lesson" day="1" lesson="5"></th>
                <th class="text-center" name="lesson" day="2" lesson="5"></th>
                <th class="text-center" name="lesson" day="3" lesson="5"></th>
                <th class="text-center" name="lesson" day="4" lesson="5"></th>
                <th class="text-center" name="lesson" day="5" lesson="5"></th>
                <th class="text-center" name="lesson" day="6" lesson="5"></th>

            </tr>
            <tr>
                <th class="text-center">13.20 - 14.05 </th>
                <th class="text-center" name="lesson" day="1" lesson="6"></th>
                <th class="text-center" name="lesson" day="2" lesson="6"></th>
                <th class="text-center" name="lesson" day="3" lesson="6"></th>
                <th class="text-center" name="lesson" day="4" lesson="6"></th>
                <th class="text-center" name="lesson" day="5" lesson="6"></th>
                <th class="text-center" name="lesson" day="6" lesson="6"></th>

            </tr>
            <tr>
                <th class="text-center"> 14.15 - 15.00 </th>
                <th class="text-center" name="lesson" day="1" lesson="7"></th>
                <th class="text-center" name="lesson" day="2" lesson="7"></th>
                <th class="text-center" name="lesson" day="3" lesson="7"></th>
                <th class="text-center" name="lesson" day="4" lesson="7"></th>
                <th class="text-center" name="lesson" day="5" lesson="7"></th>
                <th class="text-center" name="lesson" day="6" lesson="7"></th>

            </tr>
        </tbody>
    </table>
}
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">Обновление</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Название предмета: </label>
                        <br />
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <input type="text" id="subject" value="" class="form-control">
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <label>Учитель:</label>
                        <br><div class="col-sm-10 col-md-10 col-lg-10">
                            @Html.DropDownList("TeacherId", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="saveChanges">
                    Сохранить изменения
                </button>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("назад к списку расписаний", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
