﻿@model IEnumerable<WebCW.Models.Timetable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Класс
        </th>
        <th>
            Период
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Class.number)
            -
            @Html.DisplayFor(modelItem => item.Class.letter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
