﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Некое дерьмо</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
   
</head>
<body>
    <script>
        $().ready(function () {
            $("#AdminMenu").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });

    </script>
    <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Admin Menu.
                    </a>
                </li>
                <li>
                    @Html.ActionLink("Периоды", "Index", "Periods")
                </li>
                <li>
                    @Html.ActionLink("Расписания", "Index", "Timetables")
                </li>
                <li>
                    @Html.ActionLink("Классы", "Index", "Classes")
                </li>
                <li>
                    @Html.ActionLink("Новости", "Index", "Topics")
                </li>
                <li>
                    @Html.ActionLink("Преподаватели", "Index", "Teachers")
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ах.", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Расписания", "TimeTables", "Home")</li>
                    <li>@Html.ActionLink("Преподаватели", "Teachers", "Home")</li>
                    <li>@Html.ActionLink("Новости", "Index", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li id="AdminMenu"> <a>Меню админа</a> </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <p class="text-center">&copy; @DateTime.Now.Year – StarWind&Nadiyka</p>
        </footer>
    </div>

    
    
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)    
</body>
</html>
